/* FONTS */
@font-face {
    font-family: 'GameOfThrones';
    src: url('../fonts/got.ttf');
}

@font-face {
    font-family: FuturaCondencedBold;
    src: url("../fonts/futura_condenced_bold.otf") format("opentype");
}

@font-face {
    font-family: FuturaCondencedRegular;
    src: url("../fonts/futura_condenced_regular.ttf");
}



/* COLORS */
$lightBrown: #f6e7d1;
$black: #010101;
$offWhite: #faf3e9;
$darkRed: #7c1632;
$grey: #d6cece;




/* GENERAL STYLES AND RESETS */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: $black; 
    background-color: $lightBrown;  
    overscroll-behavior: none;
}

html, body {
    height: 100vh;
    width:100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

// audio controls
div#audio {

    display: inline-block;
    position: fixed;
    left: 70px;
    bottom: 70px;

    @media screen and (max-width: 1024px){
        display: none;
    }

    audio {
        width: 200px;
        background-color: $lightBrown;
        &::-webkit-media-controls-panel {
            background-color: $lightBrown;
            
        }
        &::-webkit-media-controls-timeline {
            display:none;
        }
    }  
}

div#page01 {
 

    div.welcome {
        position: fixed;
        z-index: 100;
        top: 50%;
        width: 35vw;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $lightBrown;
        border: 10px solid $grey;
        border-radius: 10px;
        text-align: center;
    
        @media screen and (max-width: 1024px){
            width: 100vw;
            height: 100vh;

        }
            
        webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
        -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);

        div.heading {
            font-family: "GameOfThrones", Arial;
            font-size: 3rem;
            width: 80%;
            margin: 50px auto;
            @media screen and (max-width: 1024px){
                font-size: 1.5rem;
            }
        }

        div.text {
            font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
            font-size: 2rem;
            width: 80%;
            margin: 50px auto;
            span {
                color: $darkRed;
            }
            div {
                margin-top: 30px;
                text-align: right;
            }
            @media screen and (max-width: 1024px){
                font-size: 1.3rem;
            }
        }

        div.close_welcome {
            position: absolute;
            top: 20px;
            right: 20px;
            font-family: "GameOfThrones", Arial;
            font-size: 1rem;
            cursor: pointer;

        }
        
    }
    
    div.wrapper {

        height: 100vh;
        display: flex;
        flex-direction: row;
        
        @media screen and (max-width: 1024px){
            flex-direction: column;
        }

        div.left {

            width: 50%;
            @media screen and (max-width: 1024px){
                width: 100%;
            }
            position: relative;
    
    
    
            div.map {
                text-align: right;
                margin-top: 2vh;
                img {
                    @media screen and (min-width: 1025px){
                        height: 93vh;
                    }

                    @media screen and (max-width: 1024px){
                        width: 100%;
                    }
    
                }
    
                div.buttons {
                    position: absolute;
                    bottom: 350px;
                    right: 50px;
       
    
                 
                }
            }
        }
        div.right {
      
            width: 50%;
            @media screen and (max-width: 1024px){
                width: 100%;
            }

            
            position: relative;
            div.buttons {
                     
                button {
                    background-color: $offWhite;
                    border: 3px solid $black;
                    border-radius: 10px;
                    color: $darkRed;
                    cursor: pointer;
                    padding: 10px;
                    font-family: "GameOfThrones", Arial;
                    font-size: 1.2rem;
                    &:disabled {
                        color: $grey;
                    }    
                    outline:none;   
                }
            }
    
            div.top {
                margin-top: 30px;
                width: 100%;
                height: 90px;
                text-align: center;
                background-repeat: no-repeat;
                background-position-x: center;
                background-size: 80%;
    
                
                h1 {
                    font-family: "GameOfThrones", Arial;
                    font-size: 2rem;
                    padding: 15px;
                    margin: 5px;
                
                }
                
                div.subtitle {
                    font-family: "GameOfThrones", Arial;
       
                }
            }
            div.buttons {
                margin: 100px 200px auto 0;
                width: 100vw;
                display: flex;
                flex-direction: row;
                justify-content: space-around;


                button:nth-of-type(1) {
                    max-width: 140px;
                    position: fixed;
                    bottom: 10px;
                    right: 0px;
                }
                button:nth-of-type(2) {
                    max-width: 140px;
                    position: fixed;
                    bottom: 10px;
                    right: 150px;
                }
            }
            div.houses {
                position: relative;
      
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;

                @media screen and (max-width: 1024px){
                    flex-direction: column;
                    margin: 20px 0;
                    height: 100%;
                    width: 85%;

                }

                div.house {
                    margin: 10px;
                    padding: 21px;
                    display: block;
                    width: 40%;
                    cursor: pointer;
                    background-image: url(../images/house_background.png);
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-size: 85%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;


                    @media screen and (max-width: 1024px) and (min-width: 767px){
                        background-position-y: bottom;
                    }
               
                    @media screen and (max-width: 1024px){
                        width: 100%;
                    }
    
                    div.left {
                        float: left;
                        width: 35%;
                        img {
                            max-width: 60px;
                            @media screen and (max-width: 320px){
                                max-width: 55px;
                            }
                            margin: 0 25px 0 30px;
                        }
                        @media screen and (max-width: 1024px) and (min-width: 767px){
                            width: 20%;
                            margin-left: 20px;
                        }
                     
                    }
                    div.right {
                        float:left;
                        width: 65%;
                        h2 {
                            font-family: "GameOfThrones", Arial;
                            font-size: 1rem;
                            @media screen and (max-width: 320px){
                                font-size: 0.9rem;
                            }
                            margin: 0px 0;
                        }
                      

                        
                    
                        
                        div.hero {
                            font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
                            font-size: 1rem;
                            span {
                                font-family: FuturaCondencedRegular,"Trebuchet MS", Arial, sans-serif;
    
                            }
                        }
    
            
                    }
                    &:hover {
                        background: url(../images/house_background_dark.png);
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-size: 85%;
                    }
                }
    
            }
    
          
        }
    }
    
    
    div.additional_house_info {
        position: absolute;
        top: 100px;
        left: 30%;
        width: 20vw;
        padding: 20px;
        border: 5px solid $darkRed;
        border-radius: 10px; 
        background-color: $lightBrown;
        text-align: center;
        display: none;
    
        font-family: FuturaCondencedRegular,"Trebuchet MS", Arial, sans-serif;
        font-size: 1rem;
    
        webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
        -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
    
        @media screen and (max-width: 768px) {
            display: none !important;
        }

        div.sigil {
            padding: 10px;
            img {
                width: 50%;
            }
        }
    
        h2 {
            font-family: "GameOfThrones", Arial;
            font-size: 2rem;
            margin: 20px 0;
        }
    
    
        div.info  {
            text-align: center;
            font-size: 1.1rem;
            span {
                font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
                
            }
            
    
            ul {
                margin-top: 0;
            }
        }
    
        div.close {
            position: absolute;
            right: 20px;
            top: 10px;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    
    
}
div#page02 {
    display: none;
    position: relative;

    div.round {
        position: fixed;
        left: 40%;
        top: 40%;
        transform: translate(-50%, -50%);

        background-color: $darkRed;
        padding: 50px;
        border: 10px solid $offWhite;
        color: $offWhite;
        font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
        font-size: 2rem;
        opacity: 0;

        webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
        -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);

    }

    div.flashBanner {
        position: fixed;
        left: 40%;
        top: 40%;
        transform: translate(-50%, -50%);

        background-color: $darkRed;
        padding: 50px;
        border: 10px solid $offWhite;
        color: $offWhite;
        font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
        font-size: 2rem;
        opacity: 0;

        webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
        -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);

    }

    div.flashBannerWinner {
        position: fixed;
        left: 20%;
        top: 40%;
        transform: translate(-50%, -50%);

        background-color: $darkRed;
        padding: 50px;
        border: 10px solid $offWhite;
        color: $offWhite;
        font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
        font-size: 2rem;
        opacity: 0;

        webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
        -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);

    }

    div.trap {

        position: absolute;
        opacity: 0;
        left:  0;
        top: 0;

        img{
            position: absolute;
            top: 0;
            left:0;
            width: 50%;
        }

        div.message {
            text-align: center;
            margin: 10px 100px;
            float:left;
            margin-top: 500px;
            opacity: 100;
            width: 100%;
            color: $offWhite;
            font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
            font-size: 2rem;
            background-color: $darkRed;
            padding: 10px;
        }
    
    }



/** GAME STYLES s**/

    canvas {
        width: 100vw;
    }

    div.logo {

        display: flex;
        position: fixed;
        max-width: 20%;
        max-height: 24%;
        top: 10%;
        left: 5%;
        z-index: 100;
        webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
        -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);

        img {
            display: inline-block;
            width: 100%;

        }
    }


    div.dice {

        display: flex;
        flex-direction: column;
        position: fixed;
        width: 180px;
        top: 30%;
        right: 5%;
        z-index: 100;
        text-align: center;
        webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
        -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        background-color: $lightBrown;
        border: 5px solid $offWhite;
        border-radius: 10px;

        div.num {

            font-family: FuturaCondencedRegular,"Trebuchet MS", Arial, sans-serif;
            font-size: 1.5rem;

        }

        div.sigil {

            margin: 10px 0 0 0;
            img {
                width: 50%;
                
            }
            
        }

        div.hero {

            font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
            font-size: 2rem;
            margin: 15px 20px;
            
        }

        button {
            background-color: $darkRed;
            border: 3px solid $offWhite;
            color: $offWhite;
            display: inline-block;
            width: 80%;
            margin: 20px auto;
            border-radius: 10px;
            padding: 10px 0;
            outline: none;
            cursor: pointer;
            font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
            font-size: 1.2rem;
            webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
            -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
            box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
        }

        button:active {
            webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

        }

        img {
            display: inline-block;
            width: 50%;
    
        }
        div.dice {
            div.image {
                img {
                    max-width: 100px;
                    animation: rotation 2s infinite linear;
                    

                }
            
            }
            
        }

    }
}


div#page03 {
    background-image: url('/dist/images/winner_background.jpg');
    height: 100vh;
    width: 100vw;
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    div.top {
        background-color: rgba(35,31,32, 0.5);
        margin-top: 50px;
        padding: 50px;

        div.heading {
            font-family: "GameOfThrones", Arial;
            font-size: 3.5rem;
            text-align: center;
            color: $lightBrown;
        }

        div.subheading {
            font-family: FuturaCondencedRegular,"Trebuchet MS", Arial, sans-serif;
            font-size: 1.6rem;
            text-align: center;
            color: $lightBrown;
            margin-top: 40px;
        }
    }

    div.score {
        display: flex;
        flex-direction: row;
        width: 100vw;
        

        div.player {

            width: 40vw;
            margin: 40px auto;
            padding: 20px 20px 0 20px;
            height: 300px;
            


            div.subheading {
                font-family: "GameOfThrones", Arial;
                font-size: 2.7rem;
                text-align: center;
                color: $lightBrown;
                margin-bottom: 20px;
                width: 100%;
                text-align: center;
            
                
    
            }
          
            div.house {
                margin: 10px;
                padding: 21px;
                display: flex;
                flex-direction: row;
                width: 80%;
 
                margin: auto;
                text-align: center;
                border-radius: 10px;
                width: 50%;

                img {
                    width: 300px;
                    margin: 0 25px 0 30px;
                }
    
         
                div.house_name {
                    font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
                    text-transform: uppercase;
                    color: $black;
                    -webkit-text-stroke: 2px $offWhite;
                    font-size: 2.3rem;
                    margin: 10px 0;
                    position: absolute;
                    text-align: center;
                    width: 50%;
                    margin-top: 160px;
                    
                }  
            }

            div.house_final {
                margin: 10px;
                padding: 21px;
                display: flex;
                flex-direction: row;
                width: 80%;
 
                margin: auto;
                text-align: center;
                border-radius: 10px;
                width: 50%;

                img {
                    width: 300px;
                    margin: 0 25px 0 30px;
                }
    
         
                div.house_name {
                    font-family: FuturaCondencedBold,"Trebuchet MS", Arial, sans-serif;
                    text-transform: uppercase;
                    color: $black;
                    -webkit-text-stroke: 2px $offWhite;
                    font-size: 2.3rem;
                    margin: 10px 0;
                    position: absolute;
                    text-align: center;
                    width: 50%;
                    margin-top: 160px;
                    
                }  
            }
        }
    }

    div.play_again {
        position: fixed;
        top: 50%;
        left: 40%;
        button {

            cursor: pointer;
            background-color: $darkRed;
            color: $offWhite;
            border: 10px solid $offWhite;
            border-radius: 10px;
            padding: 50px;
            font-size: 3rem;
            font-weight: bold;
            webkit-box-shadow: 3px 3px 10px 10px rgba(36,36,36,1);
            -moz-box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
            box-shadow: 3px 3px 10px 0px rgba(36,36,36,1);
    

        }
    }
}



@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
